[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
requests = "*"
pyportfolioopt = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pycoingecko = "*"
scikit-learn = "*"
django-extensions = "*"
werkzeug = "*"
celery = "*"
yfinance = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["all"], version = "*"}

[requires]
python_version = "3.8"
