[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
requests = "*"
pyportfolioopt = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pycoingecko = "*"
scikit-learn = "*"
django-extensions = "*"
werkzeug = "*"
celery = "*"
yfinance = "*"
django-rest-framework = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-allauth = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.8"
